apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: back-end
          image: 440953937617.dkr.ecr.us-east-2.amazonaws.com/kafka-integrator:latest
          ports:
            - containerPort: 3000
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "test"
