apiVersion: v1
kind: Namespace
metadata:
  name: argocd
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-demo
  namespace: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: back-end
          image: 440953937617.dkr.ecr.us-east-2.amazonaws.com/jenkins-integrator:latest
          ports:
            - containerPort: 8072
          env:
            - name: DOCKER_ENV
              value: "dev"
---
apiVersion: v1
kind: Service
metadata:
  name: argo-demo
  namespace: argocd
  labels:
    app.kubernetes.io/name: argo-demo
spec:
  selector:
    app: web
  type: NodePort
  ports:
    - port: 8072
      targetPort: 8072
      protocol: TCP
      name: http
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argo-demo
  namespace: argocd
  labels:
    app.kubernetes.io/name: argo-demo
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: argocd.nawaz-demo.opsera.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argo-demo
                port:
                  number: 8072
